# MongoDB connection string
MONGO_URI=mongodb://127.0.0.1:27017/studyhub

# Secret string used to sign Session tokens
JWT_SECRET=my_super_secret_jwt_key

# Google OAuth Client ID (for login)
GOOGLE_CLIENT_ID=726866421270-5m4moe82ikvgkdop4hkbdrtk57n4eko2.apps.googleusercontent.com
